---
import GitHub from "../icons/GitHub.astro"
import NextJS from "../icons/NextJS.astro"
import React from "../icons/React.astro"
import Tailwind from "../icons/Tailwind.astro"
import PowerBI from "../icons/PowerBI.astro"
import Sql from "../icons/Sql.astro"
import Link from "../icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  POWERBI: {
    name: "Power BI",
    class: "bg-[#003159] text-white",
    icon: PowerBI,
  },
  SQL: {
    name: "SQL",
    class: "bg-[#003159] text-white",
    icon: Sql,
  },
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
}
const PROJECTS = [
  {
    title: "Power BI E-Bike Sharing Report",
    description:
      "Power BI report showing sales from an e-bike sharing mobility service. Created using Power BI desktop and published to Power BI service. The report is embedded in this website. The data source was prepared in SQL Server Management Studio.",
    link: "https://app.powerbi.com/reportEmbed?reportId=18d4ff5f-a9e9-4b2f-a7c6-25a921da2c6d&autoAuth=true&ctid=8f11c6f4-648e-4c0c-bb99-96e8408a8e2a",
    //github: "https://github.com/leom188/GeminiChat",
    image: "/projects/BikeBI.webp",
    tags: [TAGS.POWERBI, TAGS.SQL],
  },
  {
    title: "GeminiAI Chatbot",
    description:
      "Under Construction - chat bot using the the GeminiAI Api from google. Using React.",
    //link: "https://adventjs.dev",
    github: "https://github.com/leom188/GeminiChat",
    image: "/projects/GeminiChat.webp",
    tags: [TAGS.REACT],
  },
]
---

<div class="flex flex-col gap-y-16">
    {
      PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="w-full md:w-1/2">
      <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
        <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
      </div>
    </div>
  
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="text-2xl font-bold dark:text-gray-100">
        {title}
      </h3>
      <div class="flex flex-wrap mt-2">
        <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
  
        <div class="mt-2 dark:text-gray-400">{description}</div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
                
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
      </div>
    </div>
  </article>
      ))
    }
  </div>